spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/shiroTest?useUnicode=true&characterEncoding=utf8&rewriteBatchedStatements=true&zeroDateTimeBehavior=convertToNull&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC&autoReconnect=true&failOverReadOnly=false&useSSL=true&serverTimezone=GMT%2b8
    username: root
    password: root

server:
  port: 8989
#contextPath
  servlet:
    context-path: /

redis:
# Redis数据库索引（默认为0）
  database: 0
# Redis服务器地址
  host: 127.0.0.1
# Redis服务器连接端口
  port: 6379
# Redis服务器连接密码（默认为空）
  password:
#  password: redis_admin
# 连接超时时间（毫秒）
  timeout: 30000ms
# 连接池最大连接数（使用负值表示没有限制）
  jedis:
    pool:
      max-active: 8
# 连接池最大阻塞等待时间（使用负值表示没有限制）
      max-wait: -1m
# 连接池中的最大空闲连接
      max-idle: 8
# 连接池中的最小空闲连接
      min-idle: 0

mybatis:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
